:root {  /* palette Valeur par default*/
    --couleur-background-Par: black; 
}


.theme-sombre{    /* palette valeur active*/
    /* --couleur-primaire: rgb(15, 202, 235); */
    /* --couleur-secondaire:rgb(247, 247, 247); */
    /* --couleur-tertiaire: black; */
    /* --couleur-quaternaire: rgba(0, 0, 0, 0.582); */
    --duree-transition: 0.3s;
    --effet-transition: ease-in-out;
    --echelle-hover: 1.05;
    --couleur-Body: rgba(20, 20, 20, 0.979);
    --couleur-texte-header: rgb(15, 202, 235);
    --couleur-tittle-h2: rgb(255, 255, 255);
    --couleur-Paragraphe: rgba(214, 214, 214, 0.863);
    --couleur-background-Par: rgba(128, 128, 128, 0.123); 
    /* --couleur-nonaire: */
    /* --couleur-denaire: */
}

body{
    /* background-color: rgba(20, 20, 20, 0.979); */
    background-color: var(--couleur-Body);
    transition: var(--duree-transition) var(--effet-transition);

}
.entete{ 

    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    /* border: 2px solid black; */
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 1.5px solid  var(--couleur-background-Par);
    transition: border-bottom var(--duree-transition) var(--effet-transition);
    /* background-color: rgb(247, 247, 247); */
    /* background-color: rgb(10, 10, 10); */
    /* background-color: var(--couleur-Body); */
    transition: background-color var(--duree-transition) var(--effet-transition);
    color: rgb(15, 202, 235);
    /* color: var(--couleur-primaire) var(--duree-transition) var(--duree-transition); */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;

    }
.navigation{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.lien{
    text-decoration: none;
    color: rgb(15, 202, 235);
    
}
.title-container{
    margin: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h2{
    font-size: 30px;
    font-weight: bolder;
    color: var(--couleur-tittle-h2);
    transition: var(--duree-transition) var(--effet-transition);

}
h3{
    color: rgb(10, 128, 224); 
    margin-bottom: 10px;
}
p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.582);
    color: var(--couleur-Paragraphe) ;
    transition: var(--duree-transition) var(--effet-transition);
}
.section{
    border: 1px solid black;
    border: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: stretch;
    /* align-items: center; */
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.variable{
    background-color: rgba(128, 128, 128, 0.123);

    

}
.dynamique{
    background-color: rgba(128, 128, 128, 0.123);

}
.fluide{
    background-color: rgba(128, 128, 128, 0.123);

}
.content{
    padding: 40px;
    /* align-self: stretch; */
 }
footer{
    background-color: rgba(128, 128, 128, 0.123);
    text-align: center;
    padding: 20px;
    margin-top: 150px;
    
}
 main{
    /* background-color: rgba(20, 20, 20, 0.979); */
 }
 @media (prefers-color-scheme: dark){
    :root {
      --duree-transition: 0.3s;
      --effet-transition: ease-in-out;
      --echelle-hover: 1.05;
      --couleur-Body: rgba(20, 20, 20, 0.979);
      --couleur-texte-header: rgb(15, 202, 235);
      --couleur-tittle-h2: rgb(255, 255, 255);
      --couleur-Paragraphe: rgba(214, 214, 214, 0.863);
      --couleur-background-Par: rgba(128, 128, 128, 0.123);
    }
  }

