body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    text-align: center;
}
.form-group{
    margin-bottom: 10px;
    margin-top: 40px;
}

/* #full-name{
    margin-top: 15px;
}
#email{
    margin-top: 15px;
}
#sujet{
    margin-top: 15px;
}
#message{
    margin-top: 15px;
} */
.col{
    color: white;
    background-color: green;
    padding: 10px;
    margin-top: 20px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px;
}

/* input[type="text"], input[type="email"], select[name=sujet], input[type="number"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

.element-space {
    margin-top: 15px;
    width: 100%;
    padding: 10px;

}
.border-management {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.resizeTextarea {
    resize: none;
}

label {
    display: block;
}

.form-width {
    width:50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
