.red{
    color: red;
}
p {
    color: blue;
}
#special {
    color: green;
    text-decoration: underline;
}
.conteneur{
    background-color: rgb(218, 214, 214);
    padding: 15px;
    margin-top: 20px;
}
.conteneur p {
    font-style: italic;
}