body{
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom: 2px solid rgb(211, 204, 204);
    padding: 12px;
}

.m{
    text-align: right;
    font-weight: bolder;
}
.n{
    font-weight: bolder;
}
thead{
    background-color: rgb(31, 31, 56);
    color: white;
}
.rap{
    font-size: x-large;
    background-color: lch(69.65% 41.67 181.62);
    color: white;
    padding: 10px; 
}
.alter{
    background-color:  rgb(231, 230, 230);
}

.nordtable{
    padding: 20px;

    box-shadow: 3px 1px 5px 0px rgba(102, 102, 102, 0.75);
    -webkit-box-shadow: 3px 1px 5px 0px rgba(190, 190, 190, 0.75);
    -moz-box-shadow: 3px 1px 5px 0px rgba(240, 240, 240, 0.75);
}
